<div class="container">
  <div class="content-wrapper">
    <mat-form-field appearance="fill">
      <textarea [(ngModel)]="text" matInput cdkTextareaAutosize cdkAutosizeMaxRows="5"
                placeholder="Say something"></textarea>
    </mat-form-field>
    <div class="new-post-actions-container">
      <button (click)="post()" mat-raised-button class="post-button"> Post</button>

      <mat-form-field class="image-button">
        <ngx-mat-file-input class="image-input" #removableInput placeholder="Upload image" (change)="onFileSelected($event)"></ngx-mat-file-input>
        <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>


    </div>
    <mat-card class="post-card" *ngFor="let post of posts.reverse()">
      <mat-card-header>
        <mat-card-title>
          {{ post.username }}
        </mat-card-title>
      </mat-card-header>
      cccc {{post.imageUrl}}
      <img [src]="post.imageUrl" mat-card-image>
      <mat-card-content>
        <p>
          {{ post.text }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="like-button" mat-icon-button disableRipple="true">
          <mat-icon>favorite_border</mat-icon>
        </button>
        <span *ngIf="post.likes">{{post.likes.length}} like it!</span>
      </mat-card-actions>
      <div class="comments-container">
        <div class="comments">
          <div class="title"> Comments</div>
          <p *ngFor=" let comment of post.comments">
            <b>{{comment.username}}:</b> {{comment.comment}}</p>
        </div>
        <div class="comment-input">
          <mat-form-field class="comment-form-field">
            <input matInput type="text" placeholder="add a comment">
          </mat-form-field>
          <button class="comment-button" mat-button> Comment</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>

